{% extends 'base.html.twig' %}

{% block title %}Produits de la catégorie {{ category.name }}{% endblock %}

{% block body %}
<div class="container py-5 text-center">
    <h2 class="mb-5">{{ category.name }}</h2>

    <div class="row mt-4">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% set imagePath = product.image starts with 'http' ? product.image : asset('uploads/images/' ~ product.image) %}
                    <img src="{{ imagePath }}" alt="{{ product.name }}" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.price }} €</p>
                        <a href="{{ path('app_product_page_show', {id: product.id}) }}" class="btn btn-primary">Voir le produit</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun produit dans cette catégorie.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
