{% extends 'base.html.twig' %}

{% block title %}Modification de la Catégorie{% endblock %}

{% block body %}

<div class="containe security-form">
    <div class="login-form p-5">
        <h2 class="text-center mb-3">Modifier la catégorie</h2>

        {{ form_start(form, {'method': 'POST'}) }}

            {{ form_row(form._token) }}

            <label class="mb-2">Entrer le nouveau nom de la catégorie</label>
            {{ form_widget(form.name, {'attr':{'class':'form form-control mb-3','placeholder':'Nom de la catégorie'}}) }}

            <label class="mb-2">Image</label>
            {{ form_widget(form.image, {'attr': {'class':'form form-control mb-4'}}) }}
            {{ form_errors(form.image) }}

            <input type="submit" value="Modifier" class="btn btn-primary btn-block">

        {{ form_end(form) }}

    </div>
</div>

{% endblock %}
