{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<div class="container p-5">
    <h1 class="text-center m-5">Produits</h1>

    {% include 'layouts/_flash_messages.html.twig' %}

     <a class="btn btn-primary mb-3" href="{{ path('app_product_new') }}">Ajouter un nouveau produit</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image principale</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>
                    {% set imagePath = product.image starts with 'http' ? product.image : asset('uploads/images/' ~ product.image) %}
                    <img src="{{ imagePath }}" alt="{{ product.name }}" class="card-img-top" style="width: 50px; height: 50px">    
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.description | slice(0,50) }}...</td>
                <td>{{ product.price }} €</td>
                <td>
                    {% if product.stock > 0 %}
                        {{ product.stock }}
                    {% else %}
                        <span class="text-danger">Stock épuisé</span>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('app_product_show', {'id': product.id}) }}">Afficher</a> |
                    <a class="btn btn-outline-success" href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a> |
                    <a class="btn btn-outline-dark" href="{{ path('app_product_add_stock', {'id': product.id}) }}">Ajouter stock</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="m-4">
        {{ knp_pagination_render(products, 'layouts/pagination.html.twig') }}
    </div>
</div>
{% endblock %}
