{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<div class="container p-5">
    <h1 class="text-center m-5">Produits</h1>

    {% include 'layouts/_flash_messages.html.twig' %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Image de couverture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description | slice(0,60) }}...</td>
                <td>{{ product.price }}</td>
                <td>
                    {% if product.stock > 0 %}
                        {{ product.stock }}
                    {% else %}
                        <span class="text-danger">Stock épuisé</span>
                    {% endif %}
                </td>
                <td>{{ product.image }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">Afficher</a> |
                    <a class="text-success" href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a> |
                    <a class="text-secondary" href="{{ path('app_product_add_stock', {'id': product.id}) }}">Ajouter du stock</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_product_new') }}">Ajouter un nouveau produit</a>
</div>
{% endblock %}
